<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Atlstreets" %></title>
		<%= csrf_meta_tags %>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
		<![endif]-->

		<%= stylesheet_link_tag "application", :media => "all" %>

		<!-- For third-generation iPad with high-resolution Retina display: -->
		<!-- Size should be 144 x 144 pixels -->
		<%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

		<!-- For iPhone with high-resolution Retina display: -->
		<!-- Size should be 114 x 114 pixels -->
		<%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

		<!-- For first- and second-generation iPad: -->
		<!-- Size should be 72 x 72 pixels -->
		<%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<!-- Size should be 57 x 57 pixels -->
		<%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

		<!-- For all other devices -->
		<!-- Size should be 32 x 32 pixels -->
		<%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
	</head>
	<body>

		<div id="header" class="container-fluid">
			<img src="assets/website_header.png">
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<%= bootstrap_flash %>
					<%= yield %>
					<div id="toolbar">
						<div class="form-inline">
							<a href="#" class="btn" onClick="getLocation()"> <i class="icon-map-marker"></i> </a>
							<label>
								<input type="text" id= "searchAddress" placeholder="Type in an address...">
								<a href="#" class="btn" onClick="geocodeAddress()"> Go </a> </label>
							<a href="#" class="btn" onClick="getMarkers()"> Find Street Closures </a>
							<label> Search Radius (miles):
								<input type="number" id="searchRadius" class="input-small">
							</label>
						</div>
					</div>
					<div id="map"></div>
				</div>

				<div class="span3">
					<div class="well sidebar-nav">
						<h4>Connect with us to get updates</h4>
						<a href="https://twitter.com/ATLStreetMap" class="btn" data-show-count="false" data-lang="en"><i class='icon-twitter-sign icon-2x'></i></a>
						<a href="#" class="btn"><i class="icon-facebook-sign icon-2x"></i></a>
						<a href="#" class="btn"><i class="icon-envelope icon-2x"></i></a>

					</div><!--/.well -->
				</div><!--/span-->

			</div><!--/row-->
			<div>
				<h4>About</h4>
				<div>
					<p>
						Even if you’re someone who likes surprises, nobody wants surprises trying to get from point a to point b. There’s
						nothing more frustrating than hitting traffic that you are not ready for when you have somewhere to go. That’s
						where Point A comes in.
					</p>

					<p>
						Point A is a site designed to prepare Atlantans to find their way by alerting them of street closures, construction,
						and traffic delays throughout the city.
					</p>

					<p>
						You can subscribe to our closure updates through social media or by joining our email list. You can also see an
						overview of street closures throughout the city and the ones closest to wherever you’re trying to go.
					</p>

					<strong>Inspiration:</strong>

					<p>
						The inspiration for the project came from the Atlanta Streetcar initiative that connects East and West parts of
						Atlanta’s downtown area. The Street Car construction has created disruptions for residents and commuters who
						work and play in the area. Point A started as a response to the need for residents to be better informed about
						construction for StreetCar.
					</p>

					<p>
						You can learn more about the Street Car Initiative here: <a href="http://www.atlantadowntown.com/initiatives/atlanta-streetcar">http://www.atlantadowntown.com/initiatives/atlanta-streetcar</a>
					</p>

					The city’s report on closures here: <a href="http://www.atlantadowntown.com/initiatives/atlanta-streetcar/streetcar-utility-relocation">http://www.atlantadowntown.com/initiatives/atlanta-streetcar/streetcar-utility-relocation</a>

					</p>
				</div>

				<footer>
					<p>
						Built at <a href="http://www.govathon.com">Govathon</a>
					</p>
				</footer>

			</div>
			<!-- /container -->

			<!-- Javascripts
			================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<%= javascript_include_tag "application" %>
			<%= yield :footer_scripts -%>
	</body>
</html>
